# macOS system files
.DS_Store
**/.DS_Store

/Recommendations.Shared/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.AssemblyInfo.cs
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.AssemblyInfoInputs.cache
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.assets.cache
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.csproj.AssemblyReference.cache
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.GeneratedMSBuildEditorConfig.editorconfig
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.GlobalUsings.g.cs
/Recommendations.Shared/obj/project.assets.json
/Recommendations.Shared/obj/project.nuget.cache
/Recommendations.Shared/obj/project.packagespec.json
/Recommendations.Shared/obj/Recommendations.Shared.csproj.nuget.dgspec.json
/Recommendations.Shared/obj/Recommendations.Shared.csproj.nuget.g.props
/Recommendations.Shared/obj/Recommendations.Shared.csproj.nuget.g.targets
/Recommendations.Shared/obj/rider.project.restore.info
# Katalogi build (bin, obj)
bin/
obj/

# Pliki użytkownika i konfiguracje IDE
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / IntelliJ IDEA
.idea/
*.iml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Recommendations.iml
/contentModel.xml

# Pliki specyficzne projektu (z Twojego przykładu)
/shelf/
/workspace.xml

# Ustawienia edytora HTTP Client
/httpRequests/

# Lokalne dane źródłowe
/dataSources/
/dataSources.local.xml

# Publikowane pliki i katalogi
publish/

# Pakiety NuGet
*.nupkg
packages/

# Konfiguracja VS Code
.vscode/
fe/node_modules/.DS_Store
fe/node_modules/.vite/deps/axios.js
fe/node_modules/.vite/deps/axios.js.map
fe/node_modules/.vite/deps/chunk-DRWLMN53.js
fe/node_modules/.vite/deps/chunk-DRWLMN53.js.map
fe/node_modules/.vite/deps/chunk-G3PMV62Z.js
fe/node_modules/.vite/deps/chunk-G3PMV62Z.js.map
fe/node_modules/.vite/deps/chunk-PJEEZAML.js
fe/node_modules/.vite/deps/chunk-PJEEZAML.js.map
fe/node_modules/@babel/.DS_Store
fe/node_modules/@eslint/.DS_Store
fe/node_modules/@eslint-community/.DS_Store
fe/node_modules/@humanfs/.DS_Store
fe/node_modules/@humanwhocodes/.DS_Store
fe/node_modules/@jridgewell/.DS_Store
fe/node_modules/@nodelib/.DS_Store
fe/node_modules/@tanstack/.DS_Store
fe/node_modules/@types/.DS_Store
fe/node_modules/@typescript-eslint/.DS_Store
fe/node_modules/acorn/.DS_Store
fe/node_modules/ajv/.DS_Store
fe/node_modules/autoprefixer/.DS_Store
fe/node_modules/caniuse-lite/.DS_Store
fe/node_modules/chokidar/.DS_Store
fe/node_modules/concat-map/.DS_Store
fe/node_modules/cssesc/.DS_Store
fe/node_modules/deep-is/.DS_Store
fe/node_modules/esbuild/.DS_Store
fe/node_modules/escalade/.DS_Store
fe/node_modules/eslint/.DS_Store
fe/node_modules/eslint-scope/.DS_Store
fe/node_modules/eslint-visitor-keys/.DS_Store
fe/node_modules/espree/.DS_Store
fe/node_modules/fast-glob/.DS_Store
fe/node_modules/fast-json-stable-stringify/.DS_Store
fe/node_modules/fastq/.DS_Store
fe/node_modules/flatted/.DS_Store
fe/node_modules/function-bind/.DS_Store
fe/node_modules/glob/.DS_Store
fe/node_modules/jiti/.DS_Store
fe/node_modules/js-yaml/.DS_Store
fe/node_modules/jsesc/.DS_Store
fe/node_modules/json-stable-stringify-without-jsonify/.DS_Store
fe/node_modules/json5/.DS_Store
fe/node_modules/nanoid/.DS_Store
fe/node_modules/path-scurry/.DS_Store
fe/node_modules/react/.DS_Store
fe/node_modules/react-dom/.DS_Store
fe/node_modules/resolve/.DS_Store
fe/node_modules/reusify/.DS_Store
fe/node_modules/rollup/.DS_Store
fe/node_modules/scheduler/.DS_Store
fe/node_modules/sucrase/.DS_Store
fe/node_modules/supports-preserve-symlinks-flag/.DS_Store
fe/node_modules/tailwindcss/.DS_Store
fe/node_modules/typescript/.DS_Store
fe/node_modules/vite/.DS_Store
fe/node_modules/yaml/.DS_Store
src/Api/Recommendations.Api/.DS_Store
