# macOS system files
.DS_Store
**/.DS_Store

/Recommendations.Shared/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.AssemblyInfo.cs
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.AssemblyInfoInputs.cache
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.assets.cache
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.csproj.AssemblyReference.cache
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.GeneratedMSBuildEditorConfig.editorconfig
/Recommendations.Shared/obj/Debug/net8.0/Recommendations.Shared.GlobalUsings.g.cs
/Recommendations.Shared/obj/project.assets.json
/Recommendations.Shared/obj/project.nuget.cache
/Recommendations.Shared/obj/project.packagespec.json
/Recommendations.Shared/obj/Recommendations.Shared.csproj.nuget.dgspec.json
/Recommendations.Shared/obj/Recommendations.Shared.csproj.nuget.g.props
/Recommendations.Shared/obj/Recommendations.Shared.csproj.nuget.g.targets
/Recommendations.Shared/obj/rider.project.restore.info
# Katalogi build (bin, obj)
bin/
obj/

# Pliki użytkownika i konfiguracje IDE
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / IntelliJ IDEA
.idea/
*.iml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Recommendations.iml
/contentModel.xml

# Pliki specyficzne projektu (z Twojego przykładu)
/shelf/
/workspace.xml

# Ustawienia edytora HTTP Client
/httpRequests/

# Lokalne dane źródłowe
/dataSources/
/dataSources.local.xml

# Publikowane pliki i katalogi
publish/

# Pakiety NuGet
*.nupkg
packages/

# Konfiguracja VS Code
.vscode/
fe/node_modules/.DS_Store
fe/node_modules/.vite/deps/axios.js
fe/node_modules/.vite/deps/axios.js.map
fe/node_modules/.vite/deps/chunk-DRWLMN53.js
fe/node_modules/.vite/deps/chunk-DRWLMN53.js.map
fe/node_modules/.vite/deps/chunk-G3PMV62Z.js
fe/node_modules/.vite/deps/chunk-G3PMV62Z.js.map
fe/node_modules/.vite/deps/chunk-PJEEZAML.js
fe/node_modules/.vite/deps/chunk-PJEEZAML.js.map
fe/node_modules/@babel/.DS_Store
fe/node_modules/@eslint/.DS_Store
fe/node_modules/@eslint-community/.DS_Store
fe/node_modules/@humanfs/.DS_Store
fe/node_modules/@humanwhocodes/.DS_Store
fe/node_modules/@jridgewell/.DS_Store
fe/node_modules/@nodelib/.DS_Store
fe/node_modules/@tanstack/.DS_Store
fe/node_modules/@types/.DS_Store
fe/node_modules/@typescript-eslint/.DS_Store
fe/node_modules/acorn/.DS_Store
fe/node_modules/ajv/.DS_Store
fe/node_modules/autoprefixer/.DS_Store
fe/node_modules/caniuse-lite/.DS_Store
fe/node_modules/chokidar/.DS_Store
fe/node_modules/concat-map/.DS_Store
fe/node_modules/cssesc/.DS_Store
fe/node_modules/deep-is/.DS_Store
fe/node_modules/esbuild/.DS_Store
fe/node_modules/escalade/.DS_Store
fe/node_modules/eslint/.DS_Store
fe/node_modules/eslint-scope/.DS_Store
fe/node_modules/eslint-visitor-keys/.DS_Store
fe/node_modules/espree/.DS_Store
fe/node_modules/fast-glob/.DS_Store
fe/node_modules/fast-json-stable-stringify/.DS_Store
fe/node_modules/fastq/.DS_Store
fe/node_modules/flatted/.DS_Store
fe/node_modules/function-bind/.DS_Store
fe/node_modules/glob/.DS_Store
fe/node_modules/jiti/.DS_Store
fe/node_modules/js-yaml/.DS_Store
fe/node_modules/jsesc/.DS_Store
fe/node_modules/json-stable-stringify-without-jsonify/.DS_Store
fe/node_modules/json5/.DS_Store
fe/node_modules/nanoid/.DS_Store
fe/node_modules/path-scurry/.DS_Store
fe/node_modules/react/.DS_Store
fe/node_modules/react-dom/.DS_Store
fe/node_modules/resolve/.DS_Store
fe/node_modules/reusify/.DS_Store
fe/node_modules/rollup/.DS_Store
fe/node_modules/scheduler/.DS_Store
fe/node_modules/sucrase/.DS_Store
fe/node_modules/supports-preserve-symlinks-flag/.DS_Store
fe/node_modules/tailwindcss/.DS_Store
fe/node_modules/typescript/.DS_Store
fe/node_modules/vite/.DS_Store
fe/node_modules/yaml/.DS_Store
src/Api/Recommendations.Api/.DS_Store
fe/node_modules/.vite/deps/_metadata 2.json
fe/node_modules/.vite/deps/lucide-react 2.js
fe/node_modules/.vite/deps/lucide-react.js 2.map
fe/node_modules/.vite/deps/react 2.js
fe/node_modules/.vite/deps/react_jsx-runtime 2.js
fe/node_modules/.vite/deps/react_jsx-runtime.js 2.map
fe/node_modules/.vite/deps/react-dom 2.js
fe/node_modules/.vite/deps/react-dom_client.js 2.map
fe/node_modules/.vite/deps/react-dom.js 2.map
fe/node_modules/.vite/deps/react-router-dom 2.js
fe/node_modules/.vite/deps/react-router-dom.js 2.map
fe/node_modules/asynckit/bench.js
fe/node_modules/asynckit/index.js
fe/node_modules/asynckit/LICENSE
fe/node_modules/asynckit/package.json
fe/node_modules/asynckit/parallel.js
fe/node_modules/asynckit/README.md
fe/node_modules/asynckit/serial.js
fe/node_modules/asynckit/serialOrdered.js
fe/node_modules/asynckit/stream.js
fe/node_modules/asynckit/lib/abort.js
fe/node_modules/asynckit/lib/async.js
fe/node_modules/asynckit/lib/defer.js
fe/node_modules/asynckit/lib/iterate.js
fe/node_modules/asynckit/lib/readable_asynckit.js
fe/node_modules/asynckit/lib/readable_parallel.js
fe/node_modules/asynckit/lib/readable_serial_ordered.js
fe/node_modules/asynckit/lib/readable_serial.js
fe/node_modules/asynckit/lib/state.js
fe/node_modules/asynckit/lib/streamify.js
fe/node_modules/asynckit/lib/terminator.js
fe/node_modules/axios/CHANGELOG.md
fe/node_modules/axios/index.d.cts
fe/node_modules/axios/index.d.ts
fe/node_modules/axios/index.js
fe/node_modules/axios/LICENSE
fe/node_modules/axios/MIGRATION_GUIDE.md
fe/node_modules/axios/package.json
fe/node_modules/axios/README.md
fe/node_modules/axios/dist/axios.js
fe/node_modules/axios/dist/axios.js.map
fe/node_modules/axios/dist/axios.min.js
fe/node_modules/axios/dist/axios.min.js.map
fe/node_modules/axios/dist/browser/axios.cjs
fe/node_modules/axios/dist/browser/axios.cjs.map
fe/node_modules/axios/dist/esm/axios.js
fe/node_modules/axios/dist/esm/axios.js.map
fe/node_modules/axios/dist/esm/axios.min.js
fe/node_modules/axios/dist/esm/axios.min.js.map
fe/node_modules/axios/dist/node/axios.cjs
fe/node_modules/axios/dist/node/axios.cjs.map
fe/node_modules/axios/lib/axios.js
fe/node_modules/axios/lib/utils.js
fe/node_modules/axios/lib/adapters/adapters.js
fe/node_modules/axios/lib/adapters/fetch.js
fe/node_modules/axios/lib/adapters/http.js
fe/node_modules/axios/lib/adapters/README.md
fe/node_modules/axios/lib/adapters/xhr.js
fe/node_modules/axios/lib/cancel/CanceledError.js
fe/node_modules/axios/lib/cancel/CancelToken.js
fe/node_modules/axios/lib/cancel/isCancel.js
fe/node_modules/axios/lib/core/Axios.js
fe/node_modules/axios/lib/core/AxiosError.js
fe/node_modules/axios/lib/core/AxiosHeaders.js
fe/node_modules/axios/lib/core/buildFullPath.js
fe/node_modules/axios/lib/core/dispatchRequest.js
fe/node_modules/axios/lib/core/InterceptorManager.js
fe/node_modules/axios/lib/core/mergeConfig.js
fe/node_modules/axios/lib/core/README.md
fe/node_modules/axios/lib/core/settle.js
fe/node_modules/axios/lib/core/transformData.js
fe/node_modules/axios/lib/defaults/index.js
fe/node_modules/axios/lib/defaults/transitional.js
fe/node_modules/axios/lib/env/data.js
fe/node_modules/axios/lib/env/README.md
fe/node_modules/axios/lib/env/classes/FormData.js
fe/node_modules/axios/lib/helpers/AxiosTransformStream.js
fe/node_modules/axios/lib/helpers/AxiosURLSearchParams.js
fe/node_modules/axios/lib/helpers/bind.js
fe/node_modules/axios/lib/helpers/buildURL.js
fe/node_modules/axios/lib/helpers/callbackify.js
fe/node_modules/axios/lib/helpers/combineURLs.js
fe/node_modules/axios/lib/helpers/composeSignals.js
fe/node_modules/axios/lib/helpers/cookies.js
fe/node_modules/axios/lib/helpers/deprecatedMethod.js
fe/node_modules/axios/lib/helpers/formDataToJSON.js
fe/node_modules/axios/lib/helpers/formDataToStream.js
fe/node_modules/axios/lib/helpers/fromDataURI.js
fe/node_modules/axios/lib/helpers/HttpStatusCode.js
fe/node_modules/axios/lib/helpers/isAbsoluteURL.js
fe/node_modules/axios/lib/helpers/isAxiosError.js
fe/node_modules/axios/lib/helpers/isURLSameOrigin.js
fe/node_modules/axios/lib/helpers/null.js
fe/node_modules/axios/lib/helpers/parseHeaders.js
fe/node_modules/axios/lib/helpers/parseProtocol.js
fe/node_modules/axios/lib/helpers/progressEventReducer.js
fe/node_modules/axios/lib/helpers/readBlob.js
fe/node_modules/axios/lib/helpers/README.md
fe/node_modules/axios/lib/helpers/resolveConfig.js
fe/node_modules/axios/lib/helpers/speedometer.js
fe/node_modules/axios/lib/helpers/spread.js
fe/node_modules/axios/lib/helpers/throttle.js
fe/node_modules/axios/lib/helpers/toFormData.js
fe/node_modules/axios/lib/helpers/toURLEncodedForm.js
fe/node_modules/axios/lib/helpers/trackStream.js
fe/node_modules/axios/lib/helpers/validator.js
fe/node_modules/axios/lib/helpers/ZlibHeaderTransformStream.js
fe/node_modules/axios/lib/platform/index.js
fe/node_modules/axios/lib/platform/browser/index.js
fe/node_modules/axios/lib/platform/browser/classes/Blob.js
fe/node_modules/axios/lib/platform/browser/classes/FormData.js
fe/node_modules/axios/lib/platform/browser/classes/URLSearchParams.js
fe/node_modules/axios/lib/platform/common/utils.js
fe/node_modules/axios/lib/platform/node/index.js
fe/node_modules/axios/lib/platform/node/classes/FormData.js
fe/node_modules/axios/lib/platform/node/classes/URLSearchParams.js
fe/node_modules/call-bind-apply-helpers/.eslintrc
fe/node_modules/call-bind-apply-helpers/.nycrc
fe/node_modules/call-bind-apply-helpers/actualApply.d.ts
fe/node_modules/call-bind-apply-helpers/actualApply.js
fe/node_modules/call-bind-apply-helpers/applyBind.d.ts
fe/node_modules/call-bind-apply-helpers/applyBind.js
fe/node_modules/call-bind-apply-helpers/CHANGELOG.md
fe/node_modules/call-bind-apply-helpers/functionApply.d.ts
fe/node_modules/call-bind-apply-helpers/functionApply.js
fe/node_modules/call-bind-apply-helpers/functionCall.d.ts
fe/node_modules/call-bind-apply-helpers/functionCall.js
fe/node_modules/call-bind-apply-helpers/index.d.ts
fe/node_modules/call-bind-apply-helpers/index.js
fe/node_modules/call-bind-apply-helpers/LICENSE
fe/node_modules/call-bind-apply-helpers/package.json
fe/node_modules/call-bind-apply-helpers/README.md
fe/node_modules/call-bind-apply-helpers/reflectApply.d.ts
fe/node_modules/call-bind-apply-helpers/reflectApply.js
fe/node_modules/call-bind-apply-helpers/tsconfig.json
fe/node_modules/call-bind-apply-helpers/.github/FUNDING.yml
fe/node_modules/call-bind-apply-helpers/test/index.js
fe/node_modules/combined-stream/License
fe/node_modules/combined-stream/package.json
fe/node_modules/combined-stream/Readme.md
fe/node_modules/combined-stream/yarn.lock
fe/node_modules/combined-stream/lib/combined_stream.js
fe/node_modules/delayed-stream/.npmignore
fe/node_modules/delayed-stream/License
fe/node_modules/delayed-stream/Makefile
fe/node_modules/delayed-stream/package.json
fe/node_modules/delayed-stream/Readme.md
fe/node_modules/delayed-stream/lib/delayed_stream.js
fe/node_modules/dunder-proto/.eslintrc
fe/node_modules/dunder-proto/.nycrc
fe/node_modules/dunder-proto/CHANGELOG.md
fe/node_modules/dunder-proto/get.d.ts
fe/node_modules/dunder-proto/get.js
fe/node_modules/dunder-proto/LICENSE
fe/node_modules/dunder-proto/package.json
fe/node_modules/dunder-proto/README.md
fe/node_modules/dunder-proto/set.d.ts
fe/node_modules/dunder-proto/set.js
fe/node_modules/dunder-proto/tsconfig.json
fe/node_modules/dunder-proto/.github/FUNDING.yml
fe/node_modules/dunder-proto/test/get.js
fe/node_modules/dunder-proto/test/index.js
fe/node_modules/dunder-proto/test/set.js
fe/node_modules/es-define-property/.eslintrc
fe/node_modules/es-define-property/.nycrc
fe/node_modules/es-define-property/CHANGELOG.md
fe/node_modules/es-define-property/index.d.ts
fe/node_modules/es-define-property/index.js
fe/node_modules/es-define-property/LICENSE
fe/node_modules/es-define-property/package.json
fe/node_modules/es-define-property/README.md
fe/node_modules/es-define-property/tsconfig.json
fe/node_modules/es-define-property/.github/FUNDING.yml
fe/node_modules/es-define-property/test/index.js
fe/node_modules/es-errors/.eslintrc
fe/node_modules/es-errors/CHANGELOG.md
fe/node_modules/es-errors/eval.d.ts
fe/node_modules/es-errors/eval.js
fe/node_modules/es-errors/index.d.ts
fe/node_modules/es-errors/index.js
fe/node_modules/es-errors/LICENSE
fe/node_modules/es-errors/package.json
fe/node_modules/es-errors/range.d.ts
fe/node_modules/es-errors/range.js
fe/node_modules/es-errors/README.md
fe/node_modules/es-errors/ref.d.ts
fe/node_modules/es-errors/ref.js
fe/node_modules/es-errors/syntax.d.ts
fe/node_modules/es-errors/syntax.js
fe/node_modules/es-errors/tsconfig.json
fe/node_modules/es-errors/type.d.ts
fe/node_modules/es-errors/type.js
fe/node_modules/es-errors/uri.d.ts
fe/node_modules/es-errors/uri.js
fe/node_modules/es-errors/.github/FUNDING.yml
fe/node_modules/es-errors/test/index.js
fe/node_modules/es-object-atoms/.eslintrc
fe/node_modules/es-object-atoms/CHANGELOG.md
fe/node_modules/es-object-atoms/index.d.ts
fe/node_modules/es-object-atoms/index.js
fe/node_modules/es-object-atoms/isObject.d.ts
fe/node_modules/es-object-atoms/isObject.js
fe/node_modules/es-object-atoms/LICENSE
fe/node_modules/es-object-atoms/package.json
fe/node_modules/es-object-atoms/README.md
fe/node_modules/es-object-atoms/RequireObjectCoercible.d.ts
fe/node_modules/es-object-atoms/RequireObjectCoercible.js
fe/node_modules/es-object-atoms/ToObject.d.ts
fe/node_modules/es-object-atoms/ToObject.js
fe/node_modules/es-object-atoms/tsconfig.json
fe/node_modules/es-object-atoms/.github/FUNDING.yml
fe/node_modules/es-object-atoms/test/index.js
fe/node_modules/es-set-tostringtag/.eslintrc
fe/node_modules/es-set-tostringtag/.nycrc
fe/node_modules/es-set-tostringtag/CHANGELOG.md
fe/node_modules/es-set-tostringtag/index.d.ts
fe/node_modules/es-set-tostringtag/index.js
fe/node_modules/es-set-tostringtag/LICENSE
fe/node_modules/es-set-tostringtag/package.json
fe/node_modules/es-set-tostringtag/README.md
fe/node_modules/es-set-tostringtag/tsconfig.json
fe/node_modules/es-set-tostringtag/test/index.js
fe/node_modules/follow-redirects/debug.js
fe/node_modules/follow-redirects/http.js
fe/node_modules/follow-redirects/https.js
fe/node_modules/follow-redirects/index.js
fe/node_modules/follow-redirects/LICENSE
fe/node_modules/follow-redirects/package.json
fe/node_modules/follow-redirects/README.md
fe/node_modules/form-data/index.d.ts
fe/node_modules/form-data/License
fe/node_modules/form-data/package.json
fe/node_modules/form-data/Readme.md
fe/node_modules/form-data/README.md.bak
fe/node_modules/form-data/lib/browser.js
fe/node_modules/form-data/lib/form_data.js
fe/node_modules/form-data/lib/populate.js
fe/node_modules/get-intrinsic/.eslintrc
fe/node_modules/get-intrinsic/.nycrc
fe/node_modules/get-intrinsic/CHANGELOG.md
fe/node_modules/get-intrinsic/index.js
fe/node_modules/get-intrinsic/LICENSE
fe/node_modules/get-intrinsic/package.json
fe/node_modules/get-intrinsic/README.md
fe/node_modules/get-intrinsic/.github/FUNDING.yml
fe/node_modules/get-intrinsic/test/GetIntrinsic.js
fe/node_modules/get-proto/.eslintrc
fe/node_modules/get-proto/.nycrc
fe/node_modules/get-proto/CHANGELOG.md
fe/node_modules/get-proto/index.d.ts
fe/node_modules/get-proto/index.js
fe/node_modules/get-proto/LICENSE
fe/node_modules/get-proto/Object.getPrototypeOf.d.ts
fe/node_modules/get-proto/Object.getPrototypeOf.js
fe/node_modules/get-proto/package.json
fe/node_modules/get-proto/README.md
fe/node_modules/get-proto/Reflect.getPrototypeOf.d.ts
fe/node_modules/get-proto/Reflect.getPrototypeOf.js
fe/node_modules/get-proto/tsconfig.json
fe/node_modules/get-proto/.github/FUNDING.yml
fe/node_modules/get-proto/test/index.js
fe/node_modules/gopd/.eslintrc
fe/node_modules/gopd/CHANGELOG.md
fe/node_modules/gopd/gOPD.d.ts
fe/node_modules/gopd/gOPD.js
fe/node_modules/gopd/index.d.ts
fe/node_modules/gopd/index.js
fe/node_modules/gopd/LICENSE
fe/node_modules/gopd/package.json
fe/node_modules/gopd/README.md
fe/node_modules/gopd/tsconfig.json
fe/node_modules/gopd/.github/FUNDING.yml
fe/node_modules/gopd/test/index.js
fe/node_modules/has-symbols/.eslintrc
fe/node_modules/has-symbols/.nycrc
fe/node_modules/has-symbols/CHANGELOG.md
fe/node_modules/has-symbols/index.d.ts
fe/node_modules/has-symbols/index.js
fe/node_modules/has-symbols/LICENSE
fe/node_modules/has-symbols/package.json
fe/node_modules/has-symbols/README.md
fe/node_modules/has-symbols/shams.d.ts
fe/node_modules/has-symbols/shams.js
fe/node_modules/has-symbols/tsconfig.json
fe/node_modules/has-symbols/.github/FUNDING.yml
fe/node_modules/has-symbols/test/index.js
fe/node_modules/has-symbols/test/tests.js
fe/node_modules/has-symbols/test/shams/core-js.js
fe/node_modules/has-symbols/test/shams/get-own-property-symbols.js
fe/node_modules/has-tostringtag/.eslintrc
fe/node_modules/has-tostringtag/.nycrc
fe/node_modules/has-tostringtag/CHANGELOG.md
fe/node_modules/has-tostringtag/index.d.ts
fe/node_modules/has-tostringtag/index.js
fe/node_modules/has-tostringtag/LICENSE
fe/node_modules/has-tostringtag/package.json
fe/node_modules/has-tostringtag/README.md
fe/node_modules/has-tostringtag/shams.d.ts
fe/node_modules/has-tostringtag/shams.js
fe/node_modules/has-tostringtag/tsconfig.json
fe/node_modules/has-tostringtag/.github/FUNDING.yml
fe/node_modules/has-tostringtag/test/index.js
fe/node_modules/has-tostringtag/test/tests.js
fe/node_modules/has-tostringtag/test/shams/core-js.js
fe/node_modules/has-tostringtag/test/shams/get-own-property-symbols.js
fe/node_modules/math-intrinsics/.eslintrc
fe/node_modules/math-intrinsics/abs.d.ts
fe/node_modules/math-intrinsics/abs.js
fe/node_modules/math-intrinsics/CHANGELOG.md
fe/node_modules/math-intrinsics/floor.d.ts
fe/node_modules/math-intrinsics/floor.js
fe/node_modules/math-intrinsics/isFinite.d.ts
fe/node_modules/math-intrinsics/isFinite.js
fe/node_modules/math-intrinsics/isInteger.d.ts
fe/node_modules/math-intrinsics/isInteger.js
fe/node_modules/math-intrinsics/isNaN.d.ts
fe/node_modules/math-intrinsics/isNaN.js
fe/node_modules/math-intrinsics/isNegativeZero.d.ts
fe/node_modules/math-intrinsics/isNegativeZero.js
fe/node_modules/math-intrinsics/LICENSE
fe/node_modules/math-intrinsics/max.d.ts
fe/node_modules/math-intrinsics/max.js
fe/node_modules/math-intrinsics/min.d.ts
fe/node_modules/math-intrinsics/min.js
fe/node_modules/math-intrinsics/mod.d.ts
fe/node_modules/math-intrinsics/mod.js
fe/node_modules/math-intrinsics/package.json
fe/node_modules/math-intrinsics/pow.d.ts
fe/node_modules/math-intrinsics/pow.js
fe/node_modules/math-intrinsics/README.md
fe/node_modules/math-intrinsics/round.d.ts
fe/node_modules/math-intrinsics/round.js
fe/node_modules/math-intrinsics/sign.d.ts
fe/node_modules/math-intrinsics/sign.js
fe/node_modules/math-intrinsics/tsconfig.json
fe/node_modules/math-intrinsics/.github/FUNDING.yml
fe/node_modules/math-intrinsics/constants/maxArrayLength.d.ts
fe/node_modules/math-intrinsics/constants/maxArrayLength.js
fe/node_modules/math-intrinsics/constants/maxSafeInteger.d.ts
fe/node_modules/math-intrinsics/constants/maxSafeInteger.js
fe/node_modules/math-intrinsics/constants/maxValue.d.ts
fe/node_modules/math-intrinsics/constants/maxValue.js
fe/node_modules/math-intrinsics/test/index.js
fe/node_modules/mime-db/db.json
fe/node_modules/mime-db/HISTORY.md
fe/node_modules/mime-db/index.js
fe/node_modules/mime-db/LICENSE
fe/node_modules/mime-db/package.json
fe/node_modules/mime-db/README.md
fe/node_modules/mime-types/HISTORY.md
fe/node_modules/mime-types/index.js
fe/node_modules/mime-types/LICENSE
fe/node_modules/mime-types/package.json
fe/node_modules/mime-types/README.md
fe/node_modules/proxy-from-env/.eslintrc
fe/node_modules/proxy-from-env/.travis.yml
fe/node_modules/proxy-from-env/index.js
fe/node_modules/proxy-from-env/LICENSE
fe/node_modules/proxy-from-env/package.json
fe/node_modules/proxy-from-env/README.md
fe/node_modules/proxy-from-env/test.js
/src/.vs/Recommendations/config/applicationhost.config
/src/.vs/Recommendations/FileContentIndex
/src/.vs/Recommendations
/fe/node_modules
